@model List<Restaurant.Domain.Entity.Dish>

@{
    ViewBag.Title = "Restaurant menu";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form method="get">
                <div class="form-group">
                    <label for="sortSelect">Sort by price:</label>
                    <select id="sortSelect" name="sortOrder" class="form-control" onchange="sortDishes()">
                        <option value="asc">by growth</option>
                        <option value="desc">by decline</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>

@if (Model == null)
{
    <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title text-center">This page is empty :(</h5>
            <p class="card-text">
                We are making this page
            </p>
        </div>
    </div>
}
else
{
    <div id="dishesContainer" class="row">
        @foreach (var dish in Model)
        {
            <div class="col-md-3">
                <div class="card">
                    @if (dish.DishPhotos != null && dish.DishPhotos.Any())
                    {
                        var photo = dish.DishPhotos.FirstOrDefault();
                        if (photo != null && photo.ImageData != null)
                        {
                            <img style="height: 200px; width: 100%; object-fit: cover;" src="data:image/jpeg;base64,@Convert.ToBase64String(photo.ImageData)" alt="@dish.Name" />
                        }
                        else
                        {
                            <img style="height: 200px; width: 100%; object-fit: cover;" src="https://example.com/default-image.jpg" alt="@dish.Name" />
                        }
                    }
                    else
                    {
                        <img style="height: 200px; width: 100%; object-fit: cover;" src="https://example.com/default-image.jpg" alt="@dish.Name" />
                    }
                    <div class="card-body">
                        <h5 class="card-title">@dish.Name</h5>
                        <p class="card-text">Description: @dish.Description ...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Price: @dish.Price ₴</li>
                    </ul>
                    <div class="card-body">
                        <a href="@Url.Action("GetOneDish", "Menu", new { id = dish.Id })" class="btn btn-primary">
                            Open
                        </a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-controller="Menu" asp-action="Delete" asp-route-id="@dish.Id" class="btn btn-danger">Delete</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}


@section pageScripts {

    <script src="~/js/modal.js"></script>


    <script>
        $(function () {


            $('#addDishtId').on('click', function () {
                $.ajax({
                    type: 'GET',
                    url: '/Menu/Save',
                    success: function (response) {
                        $('.modal-dialog').removeClass("modal-lg");
                        modal.find(".modal-body").html(response);

                        app.initdishTypeSelect(modal.find('.dish-type-select'));

                        modal.modal('show');
                    },
                    failure: function () {
                        modal.modal('hide')
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
    </script>

    <script>
        function sortDishes() {
            var select = document.getElementById("sortSelect");
            var sortOrder = select.options[select.selectedIndex].value;

            var dishesContainer = document.getElementById("dishesContainer");
            var dishes = Array.from(dishesContainer.getElementsByClassName("col-md-3"));

            dishes.sort(function (a, b) {
                var priceA = parseFloat(a.getElementsByClassName('list-group-item')[0].textContent.replace('Price: ', '').replace(' ₴', ''));
                var priceB = parseFloat(b.getElementsByClassName('list-group-item')[0].textContent.replace('Price: ', '').replace(' ₴', ''));

                if (sortOrder === 'asc') {
                    return priceA - priceB;
                } else if (sortOrder === 'desc') {
                    return priceB - priceA;
                }
            });

            dishes.forEach(function (dish) {
                dishesContainer.appendChild(dish);
            });
        }
    </script>
}
