@model Restaurant.Domain.ViewModel.DishViewModel

@{
    ViewBag.Title = "OneDish";
    Layout = "_Layout";
}

<form id="dish-form" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" id="dishId" value="@Model.Id" />
    <div class="row">
        <div class="col-md-8 text-center">
            <img class="main-image" style="max-width: 100%;" src="data:image/jpeg;base64,@Convert.ToBase64String(Model?.Photos.FirstOrDefault() ?? Array.Empty<byte>())" alt="@Model.Name" />
        </div>
        <div class="col-md-4">
            @foreach (var image in Model?.Photos.Skip(1))
            {
                <div class="row">
                    <div class="col-md-12">
                        <img class="thumbnail-image" src="data:image/jpeg;base64,@Convert.ToBase64String(image ?? Array.Empty<byte>())" alt="@Model.Name" />
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 d-none">
            <label asp-for="Id" class="col-form-label"></label>
            <input type="text" class="form-control" id="Id" asp-for="Id">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Name" class="col-form-label"></label>
            <input type="text" class="form-control" asp-for="Name">
        </div>
    </div>
    <label asp-for="Price" class="col-form-label"></label>
    <div class="row">
        <div class="input-group col-md-6">
            <input type="text" class="form-control col-md-6" asp-for="Price" />
            <div class="input-group-append">
                <span class="input-group-text">&#8372;</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="Description" class="col-form-label"></label>
            <textarea id="description" type="text" class="form-control" asp-for="Description"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Category" class="col-form-label"></label>
            @if (User.IsInRole("Admin"))
            {
                <select asp-for="Category" class="form-control dish-type-select" data-types-url="@Url.Action("GetTypes", "Menu")"></select>
            }
            else
            {
                <textarea asp-for="Category" class="form-control"></textarea>

            }
        </div>
    </div>
    @if (User.IsInRole("Admin"))
    {

        <div class="form-group col-md-6">
            <label asp-for="DateCreate" class="col-form-label"></label>
            <input class="form-control" asp-for="DateCreate" />
        </div>
    }

    <div class="modal-body">
        <a id="create-order-btn" class="btn btn-success">To cart</a>
        @if (User.IsInRole("Admin"))
        {
            <button type="submit" class="btn btn-danger">Edit</button>
            <a id="delete-dish-btn" class="btn btn-danger">Delete</a>
        }
    </div>
</form>


<div id="comments-section">
    <h4>Clients feedback</h4>
    <div id="comments-list" style="font-size: small"></div> 
    <br />
    <form id="comment-form">
        <div class="form-group">
            <textarea id="comment-text" class="form-control" rows="3" placeholder="Leave your feedback about our product"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add comment</button>
    </form>
</div>

@section pageScripts
    {
    <script>

        $(document).ready(function () {
            var mainImage = document.querySelector('.main-image');
            var thumbnailImages = document.querySelectorAll('.thumbnail-image');

            thumbnailImages.forEach(function (thumbnail) {
                thumbnail.addEventListener('click', function () {
                    mainImage.src = thumbnail.src;
                });
            });

            var $description = $('#description');
            var lineHeight = parseInt($description.css('lineHeight'));
            var lines = $description.val().split('\n').length;
            $description.height(lineHeight * lines);

            var createOrderBtn = document.getElementById('create-order-btn');
            createOrderBtn.addEventListener('click', function () {
                var form = document.getElementById('dish-form');
                var formData = new FormData(form);
                var dishId = formData.get('Id');
                var url = '/Order/CreateOrder/' + dishId;
                window.location.href = url;
            });

            var deleteOrderBtn = $('delete-dish-btn');
            if (deleteOrderBtn.length > 0) {
                deleteOrderBtn.addEventListener('click', function () {
                    var form = document.getElementById('dish-form');
                    var formData = new FormData(form);
                    var productId = formData.get('Id');
                    var url = '/Menu/Delete/' + dishId;
                    window.location.href = url;
                });
            }

            var dishId = '@Model.Id';

            $(function () {
                
                loadComments();

                $('#comment-form').on('submit', function (e) {
                    e.preventDefault();

                    var commentText = $('#comment-text').val();

                    $.ajax({
                        url: '/Comment/AddComment/' + dishId,
                        type: 'POST',
                        data: {
                            dishId: dishId,
                            text: commentText
                        },
                        success: function () {
                            
                            $('#comment-text').val('');

                            loadComments();
                        },
                        error: function (xhr, status, error) {
                            console.log(error);
                        }
                    });
                });
            });

            function loadComments() {
                var dishId = $('#dishId').val();

                
                var getCommentsPromise = new Promise(function (resolve, reject) {
                    $.ajax({
                        url: '/Comment/GetComments/' + dishId,
                        type: 'POST',
                        success: function (data) {
                            resolve(data);
                        },
                        error: function (xhr, status, error) {
                            reject(error);
                        }
                    });
                });

               
                getCommentsPromise
                    .then(function (data) {
                        $('#comments-list').html(data);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        });
    </script>
}